// http://jshint.com/docs/options
{
    // Keine Bit-Operatoren
    "bitwise": false,
    // CamelCase (oder Grossbuchstaben bei Konstanten)
    "camelcase": true,
    // geschweifte Klammern
    "curly": true,
    // === und !==
    "eqeqeq": true,
    // for (... in ...) nur mit enthaltener if-Anweisung
    "forin": true,
    // Prototypen von Array, Date, ... nicht ueberschreiben
    "freeze": true,
    // IIFE nur mit runden Klammern
    "immed": true,
    // Einruecken
    "indent": 4,
    // Grossschreibung von Constructor Functions
    "newcap": true,
    // Kein Aufruf von arguments.caller und arguments.callee
    "noarg": true,
    // Keine leeren Bloecke
    "noempty": true,
    // Keine "non-breaking whitespaces"
    "nonbsp": true,
    // ++ zulassen
    "plusplus": false,
    // Einfache Hochkommata
    "quotmark": "single",
    // Keine Verwendung von undef
    "undef": true,
    // Keine nicht-verwendeten Variable
    "unused": true,
    // strict aus ES 5 nicht pruefen
    "strict": false,
    // max. Anzahl Parameter
    "maxparams": 5,
    // max. Schachtelungstiefe
    "maxdepth": 3,
    // max. Zeilenlaenge
    "maxlen": 120,
    // ES 2015
    "esnext": true,
    // Keine Warning, falls z.B. ?: umgebrochen wird
    "laxbreak": true,
    // Beim Modus strict keine Warnings wegen this in non-constructor functions
    "validthis": true,
    // globale Variable fuer HTML-Seiten: document, window, ...
    "browser": true,
    // globale Variable waehrend der Entwicklung: console, alert, ...
    "devel": true
}